<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Happy Father's Day</h4>
      </div>
      <div class="modal-body">
        <p>
          Thank you, dad, for being so wonderful, thoughtful, caring, and reliable.
          I know that no matter where I am and no matter what happens, I can come
          to you for help or advice. I know that you'll always have my back, and
          I can't thank you enough for that.
        </p>
        <p>
          As a little token of my appreciation, I created this little niche of the internet
          for you to call your own. I've created it and hosted it on your very own
          <a href="http://github.com/alobatch">Github account</a>. I hope that you
          we can work together to find a way to host a gallery of your photographs,
          and whatever other projects you'd like to tackle. I hope you enjoy it.
        </p>
        <p>
          Happy Father's Day. I love you.
        </p>
        <p>
          Serge
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
