---
---

/* All styles */
/* ----------------------------------------------------------*/

$font-stack-heading: 'Supermercado One', cursive;
$font-stack-subhead: 'Lato', sans-serif;
$font-stack-body: 'Lato', 'Arial', sans-serif;

@import 'header';
@import 'footer';
@import 'homepage';
@import 'blog';
@import 'archive';
@import 'post';
@import 'syntax';
@import 'media';
@import 'page-content';
