/* Homepage Styles */
/* ----------------------------------------------------------*/

.main-back{
  background-color: black;
}

.top{
  padding-top: 40px;
  padding-bottom: 10px;
}

.second {
  padding-top: 0px;
  padding-bottom: 40px;
}

.main-image-box{
  img {
    width: 100%;
  }
  padding: 0px;
}

.main-text-box{
  background-image: url('../images/geometry.png');
}

.main-text-box{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  h1{
    color: #333333;
    font-size: 70px;
    font-family: $font-stack-heading;
    font-weight: normal;
    letter-spacing: -3px;
    line-height: 1;
  }

  h2{
    font-family: $font-stack-subhead;
    font-size: 36px;
    color: #333333;
  }

  h3{
    font-family: $font-stack-body;
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    padding-top: 30px;
    letter-spacing: 0.2px
  }

  p{
    font-family: $font-stack-body;
    font-size: 17px;
    font-weight: 400;
    color: #333333;
    padding-top: 10px;
    letter-spacing: 0.2px;
  }

  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
}


.main-text-box-content {
  padding: 5px;
}

.social-icons-area {

  margin-bottom: 10px;

  a{
    color: black;
  }

  a:hover{
    color: #428bca;
  }
}

.social-icons-row {
  padding-left: 15px;
  padding-right: 15px;
}

.locaction-icon-area {
  p {
    font-size: 14px;
  }

  i {
    font-size: 16px;
  }

 .icon-spacer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.learn-more {
  background-color: #f7f7f7;

  .row{
    margin: 40px 0px 40px 0px;
  }

  h3 {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
}
